.mainGameContainer {
  background-color: #0b0d22;
  flex-grow: 1;
}

.mainGameSection {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 1rem;
  justify-content: center;
}

.mainGameHeader {
  text-align: center;
  color: #fff;
  margin-bottom: 1rem;
}

.leaderBoardGameContainer {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .mainGameSection {
    display: flex;
    flex-direction: column;
  }
}
