.mainGameContainer {
  background-color: #0b0d22;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* outline: 2px solid white; */
  flex-grow: 1;
}

.mainGameSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* outline: 2px solid white; */
  flex-grow: 1;
}

.mainGameSection h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 1rem;
}
