table {
  border-collapse: collapse;
  margin-top: 3.5em;
}

tr {
  background-color: #1e293b;
  color: #e8e6fe;
}

th {
  padding: 1em 4em;
}

td {
  padding: 1em;
  text-align: center;
  background-color: #0f172e;
}
