.tableContainer {
  max-width: 750px;
  margin-top: 3.5em;
  color: white;
  width: 100%;
  padding: 0 1rem;
}

.table {
  outline: 2px solid white;
  color: white;
  display: table;
  width: 100%;
}

.tableCell {
  padding: 1rem;
  text-align: center;
}

.tableHead {
  background-color: #1e293b;
}

.table,
.tableCell,
th {
  border-collapse: collapse;
  color: #e8e6f6;
}
