.dropDownCharacterContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.dropDownCharacterContainer > p {
  color: #e8e6fe;
}

.dropDownCharacterContainer > .dropDownCharacterImg {
  border-radius: 10px;
}

.dropDownCharacterImg {
  width: 40px;
  height: 40px;
}

.dropDownCharacterContainer:hover {
  background-color: #ffffff1a;
}
