.footerContainer {
  margin-top: auto;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerImage {
  width: 30px;
  height: 30px;
}

.footerLiContainer a {
  display: flex;
  align-items: center;
  padding: 1em;
  gap: 0.3rem;
}

a {
  color: white;
  font-size: 1.2rem;
}
