.mainComponentImg {
  width: 100%;
  height: auto;
  cursor: crosshair;
}

.mainGameSectionWrapper {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #0b0d22;
}

.mainGameContent {
  background-color: #0b0d22;
}
