.navContainer {
  outline: 2px solid black;
  display: flex;
  padding: 1em;
  justify-content: space-between;
  align-items: center;
  background-color: #0b0d22;
}

.navLinkSpan {
  color: #4ce1d7;
}

.navContentHomeBtn {
  font-size: 1.25rem;
  border: 0;
  padding: 0.8em;
  background-color: #0b0d22;
  color: white;
}

.navContentHomeBtn:hover {
  background-color: #ffffff1a;
  transition: ease-in-out 0.75s;
}

.navContentGameTime {
  font-size: 1.35rem;
  color: white;
}

.navContentFlexCharWrapper {
  display: flex;
  gap: 0.5rem;
}

.navContentFlexCharContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navContentFlexCharName {
  color: white;
}

.navContentFlexCharNameMarked {
  color: white;
  text-decoration: line-through;
}

.navContentFlexCharContainer > .navContentFlexCharImg {
  border: 1.5px solid black;
  border-radius: 10px;
}

.navContentFlexCharImg {
  height: 50px;
  width: 50px;
  transition: 250ms;
}

.navContentFlexCharImg:hover {
  transform: perspective(200px) translateZ(30px);
}

.leaderBoardAndThemeBtnContainer {
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 770px) {
  .navContainer {
    flex-direction: column;
    gap: 1rem;
    user-select: none;
  }
}
