.navContainer {
  outline: 2px solid black;
  display: flex;
  padding: 1em;
  justify-content: space-between;
  align-items: center;
  background-color: #0b0d22;
}

.ulContainer {
  font-size: 1.25rem;
  border: 0;
  padding: 0.8em;
  background-color: #0b0d22;
  color: #e8e6fe;
  font-size: 1.32rem;
}

.navLinkSpan {
  color: #4ce1d7;
}

.navContentGameTime {
  font-size: 1.15rem;
  color: #e8e6fe;
}

.navContentFlexCharWrapper {
  display: flex;
  gap: 0.5rem;
}

.navContentFlexCharContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navContentFlexCharName {
  color: #e8e6fe;
}

.navContentFlexCharNameMarked {
  color: #e8e6fe;
  text-decoration: line-through;
}

.navContentFlexCharContainer > .navContentFlexCharImg {
  border: 1.5px solid black;
  border-radius: 10px;
}

.navContentFlexCharImg {
  height: 50px;
  width: 50px;
  transition: 250ms;
  outline: 2px solid #e8e6fe;
}

.leaderBoardAndThemeBtnContainer {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.leaderBoardLink {
  font-size: 1.2rem;
}

.leaderBoardLinkContainer {
  padding: 0.7em 0.2em;
}

.navContentFlexCharImg:hover {
  transform: perspective(200px) translateZ(30px);
}

.ulContainer:hover,
.leaderBoardLinkContainer:hover {
  background-color: #ffffff1a;
  transition: ease-in-out 0.75s;
}

.navDropDownContainer {
  position: relative;
}

.ulDropDownContent {
  width: 30px;
  height: 30px;
  background-color: #991b1b;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e8e6fe;
}

.ulDropDownContainer {
  position: absolute;
  z-index: 1;
  display: none;
  top: 32px;
  left: -80px;
}

.liDropDownContent {
  width: 150px;
  height: auto;
  background-color: #0b0d22;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 0.8rem;
}

.ulDropDownContent:hover {
  cursor: pointer;
}

.leaderBoardLink {
  font-size: 1.32rem;
}

.ulContainer a:visited,
.leaderBoardLink {
  color: #e8e6fe;
}

@media screen and (max-width: 710px) {
  .navContentFlexCharWrapper {
    display: none;
  }
}

@media screen and (min-width: 710px) {
  .navContainer {
    display: flex;
  }

  .navDropDownContainer {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  /* .leaderBoardAndThemeBtnContainer {
    display: none;
  } */

  .ulDropDownContainer {
    left: -120px;
  }
}
